@using Microsoft.AspNet.Identity
@{
    
    Layout = "~/Views/Shared/_Admin.cshtml";

}
 @ViewBag.yui
@if (ViewBag.displayMenu == "Yes")
{
    <h3>Welcome Admin You Can Make Role And Manage User.</h3>
@(Html.ActionLink("Manage Role", "index","Role", new { id = 1 }, new { @class = "btn btn-primary btn-md" })) 

   
    <table class="table table-bordered table-condensed table-hover table-responsive" style="margin-top:20px;">
        <thead>
            <tr><th colspan="4" class="alert-info"><center>Data User</center></th></tr>
            <tr>
                <th>UserName</th>
                <th>Email</th>
                <th>Password</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var jung in ViewBag.loop)
            {
                <tr>
                    <td>@jung.UserName</td>
                    <td>@jung.Email</td>
                    <td>@jung.PasswordHash</td>
                    <td>@if (jung.LockoutEnabled == false)
                    {
                    @(Html.ActionLink("Disable", "Status", new { id = jung.Id }, new { @class = "btn btn-success btn-sm" }))
                    }
                    else
                    {
                   @(Html.ActionLink("Enable", "Status", new { id = jung.Id }, new { @class = "btn btn-warning btn-sm" }))
                    }
                     @(Html.ActionLink("Hapus", "Delete", new { id = jung.Id }, new { @class = "btn btn-danger btn-sm" })) </td>
                </tr>

            }

        </tbody>

    </table>
}
else
{
    <h2>  Welcome <strong>@ViewBag.Name</strong> :) .We will add user module soon </h2>
}  