@model LoginAuth.Models.FileUpload
@{
    ViewBag.Title = "Detail Manage Image";
    Layout = "~/Views/Shared/_Admin.cshtml";
}


<h2>Detail Manage</h2>
<div class="alert alert-info alert-dismissable">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    @ViewBag.error
</div>
<table class="table table-bordered table-condensed table-hover table-responsive" style="margin-top:20px;">
    <thead>
        <tr><th colspan="6" class="alert-info"><center>Data Image</center></th></tr>
        <tr>
            <th>ID</th>
            <th>User ID</th>
            <th>FileName</th>
            <th>FilePath</th>
            <th>Download</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var jung in ViewBag.see)
            {
            <tr>
                <td>@jung.ID</td>
                <td>@jung.UserId</td>
                <td>@jung.FileName</td>
                <td><img src="@Url.Content(jung.FilePath)" alt="Smiley face" height="42" width="42" /></td>
                <td>@Html.ActionLink("Download File", "Download", new { id = jung.ID })</td>
                <td>
                @(Html.ActionLink("Edit", "Edit", new { id = jung.ID }, new { @class = "btn btn-info btn-sm" }))
                @(Html.ActionLink("Hapus", "Delete", new { id = jung.ID }, new { @class = "btn btn-danger btn-sm" }))
                    @if (ViewBag.Approve == true)
                    {
                        if (jung.approve == false || jung.approve == null)
                        {
                @(Html.ActionLink("Approve", "Approve", new { id = jung.ID }, new { @class = "btn btn-warning btn-sm" }))
                        }
                        else 
                        {
                            @(Html.ActionLink("unapprove", "Approve", new { id = jung.ID }, new { @class = "btn btn-danger btn-sm" }))
                        }
                    }
            </td>
        </tr>

        }

    </tbody>

</table>